.loader{
	background-image: url(../img/ajax-loader.gif);
	width: 16px;
	height: 16px;
	clear:both;
	display: block;
}
/**CSS Infinite Scroll for demo*/
.box{
	clear: both;
	margin-bottom: 30px
}
.box img{float: left;
	margin-right: 10px
}
.plus{
	width: 100px;
	height: 60px;
}